<div class="header">
  <h3 class="text-muted">Conchas</h3>
</div>

<div class="row">
  <div class="col-md-7">
    <h4>Conchasへようこそ</h4>
    <p class="text-muted">掲示板の情報共有はもう遅い。リアルタイムに返信がくるチャットシステム。Twiiterライクな軽快なタイムライン。LINEのようにクローズドなグループ作成でより親密なコミュニケーションを。</p>
  </div>
  <div class="col-md-5">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="signinEmail" placeholder="Eメールアドレス">
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="password" class="form-control" id="signinPassword" placeholder="パスワード">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">ログイン</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label class="text-muted">
              <input type="checkbox">保存する
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-12">
      <h4>Conchasのアカウント作成</h4>
      <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="signupName" placeholder="名前">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="signupEmail" placeholder="Eメールアドレス">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="signupPassword" placeholder="パスワード">
        </div>
        <div class="form-group">
          <button class="btn btn-warning" type="button">アカウントを作成</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="footer">
  <p>&copy;ajm-web dev team 2013</p>
</div>
